<?xml version="1.0" encoding="utf-8"?>
<odoo>

<!--  <menuitem id="menu_university"-->
<!--            name="University"-->
<!--            sequence="1"/>-->
    <menuitem id="menu_student"
              name="Student"
              action="action_student"
              parent="menu_university"
              sequence="2"/>

<!--  <menuitem id="menu_professor"-->
<!--            name="Professors"-->
<!--            parent="menu_university"  sequence="3"/>-->
<!--  <menuitem id="menu_department"-->
<!--            name="Departments"-->
<!--            parent="menu_university"  sequence="4"/>-->
<!--  <menuitem id="menu_subject"-->
<!--            name="Subjects"-->
<!--            parent="menu_university"  sequence="5"/>-->
</odoo>

